@font-face {
  font-family: 'fonts';
  src:  url('../assests/fonts.eot?fhm7pa');
  src:  url('../assests/fonts.eot?fhm7pa#iefix') format('embedded-opentype'),
    url('../assests/fonts.ttf?fhm7pa') format('truetype'),
    url('../assests/fonts.woff?fhm7pa') format('woff'),
    url('../assests/fonts.svg?fhm7pa#fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fonts' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dots-three:before {
  content: "\e900";
}
.icon-trash:before {
  content: "\e902";
}
.icon-cycle:before {
  content: "\e906";
}
.icon-edit:before {
  content: "\e903";
}
.icon-mail:before {
  content: "\e901";
}
.icon-menu:before {
  content: "\e904";
}
.icon-message:before {
  content: "\e905";
}
.icon-paper-plane:before {
  content: "\e908";
}
.icon-user:before {
  content: "\e909";
}
.icon-image:before {
  content: "\e90d";
}
.icon-images:before {
  content: "\e90e";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-file-pdf:before {
  content: "\eadf";
}
